body{background-color: black;}
.mar-top35{margin-top:35px;}
.header {padding-top:0 !important;background-color: #fff;box-shadow: 0 2px 5px rgba(0,0,0,.2);padding: 10px;}
.social_links{text-align: right;}
.social_links ul li {display: inline-block;}
.social_links ul img{width: 20px;opacity: .8;transition: 1s all;}
.social_links ul img:hover{opacity: 1;}
.main_menu{text-align: right;padding-right: 60px;}
.main_menu ul {list-style: none;transition: 1s all;}
.mobile_icon {display: none;position: fixed;left: 10px;top: 10px;}
.open .mobile_icon {left: 200px;top: 0px;}
.main_menu ul li {display: inline-block;}
.single_video1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
.image_cont_vl{position: relative;}
.single_video1 .image{width: 40%; }
.sidebar_inner_heading{background-image: url(../images/bgx.png);margin-top: 10px;margin-bottom: 10px}
.sidebar_inner_heading h4 {
    padding: 8px;
    margin: 0;
    padding-left: 20px;
    color: #fff;
}
.single_video1 .detail{width: 58%;}
.single_video1 h5 {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
}
.single_video1 .small {
    font-size: 12px; 
}
.sss img {
    width: 28%;
    margin-left: 3%;
    margin-bottom: 3%;
}
.share_img{width: 70px;}
.watch_video {
    font-size: 12px;
    font-weight: bold;
    color: #c4353e;
}
.social1{font-size: 11px;text-align: center;}
.social1 li{list-style: none;display: inline-block;width: 23%;}
.edit_panel{display: none;position: absolute;right: 0}
.single_video1:hover .edit_panel{display: block;}
.watch_video img{width: 15px;}


.search .input-group{width: 250px;}  
.main_menu ul li a {color: #838282;text-decoration: none;display: inline-block;padding: 5px 15px;}
.clear{clear:both;}
.after_header{margin-top: 20px;}
.film_arr {width: 100%;height: 150px;background-image: url('../images/play-btn.png');background-size: 30px;background-repeat: no-repeat;background-position: center;position: absolute;top: 0;}
#home_slider {padding: 10px;background: #fff;box-shadow: 2px 2px 5px rgba(0,0,0,.2);}
.box_white {background-color: #fff;border-radius: 0 5px 5px 5px;box-shadow: 2px 2px 4px rgba(0,0,0,.2);padding: 10px;}
#home_slider .carousel-control{display: none;}
h3.box_heading {background-image: url(../images/box_heading_bg.png);background-repeat: no-repeat;font-size: 18px;padding: 10px;margin: 0;color: #999;line-height: 14px;}
.categories ul{max-height: 350px;overflow: auto;}
.categories.aside ul{margin-: 0;padding: 0;margin-left: 10px;}
.categories.aside ul li {list-style: none;background-image: url(../images/dots.png);background-repeat: no-repeat;background-position: left center;padding: 2px 12px;background-size: 7px;border-bottom: 1px dashed rgba(0,0,0,.1);}
.categories.aside ul li a, .categories.aside ul li a:hover{text-decoration: none;font-size: 16px;}
.mar_up_20{margin-top: 20px;}
.image_cont_vl{border: 4px solid #ddd;border-radius: 4px;}
.image_cont_vl img{width: 100%;}
.modal_social_login{text-align: center;}
.modal_social_login img{max-width: 100%;margin-bottom: 20px;}
.connect_us{text-align: center;}
.connect_us img{width: 9%;margin:1%;}
.total_views img{display: initial !important;}
.single_video .name {max-height: 40px;display: block;overflow: hidden;}
.slick-dots{display: none !important;}
.widget{margin-bottom: 15px;background-color: #fff;}
.widget .single_video{border-bottom: 1px dashed rgba(0,0,0,.1);padding: 10px 0;}
.widget .single_video:last-child{border-bottom: 0;} 
.widget.ad img{width: 100%;}
.slick-prev{left:20px !important;z-index: 9999;}
.slick-next{right: 20px !important;z-index: 9999;}
.views_icon{width: 20px;}
.single_footer{max-width: 100%;margin: 0 auto;}
.single_footer .col-sm-8, .single_footer .col-sm-4{padding: 0;}
.more_btn{text-align: center;}
.more_btn img{width: 30px;}
.slick-dotted.slick-slider{margin-bottom: 0 !important}
.more_btn a{display: block;margin-top: 5px;}
.login{background-color: #44bbff;color: #fff !important;transition: 1s all;}
.login:hover{background-color: #35a7e8;}
.registration{background-color: #334455;color: #fff !important;transition: 1s all;}
.registration:hover{background-color: #2a3846;}
.logo {text-align: center;padding: 5px;margin-bottom: 5px;}
.mm-listview li {width: 100%;text-align: center;}

html.mm-blocking #mm-blocker {display: block;background-color: rgba(0,0,0,.8);}
.footer{background-color: #fff;padding: 15px;margin-top:15px;}
.footer ul{margin: 0;padding: 0;}
.footer ul li{list-style: none;display: inline-block;}
.footer ul li a{display: inline-block;border-right: 1px solid #ddd;padding: 0 10px;}
.footer ul li:last-child a{border-right: 0;}
.footer ul.social{margin-top: 25px;}
.footer ul.social li a{border-right: 0;}
.footer ul.social img{width: 15px;}
.container-fluid{max-width: 90%;}
.footer, .header {background-color: #fff;padding: 5px 0;}
.header .container-fluid, .footer .container-fluid{padding: 0}
.single_video_player{background:#fff;padding: 9px 10px 5px 10px}
.single_video_info{background: #fff;padding: 0 15px}
.single_video_player h3{margin:0;}
.single_video_player img{width: 20px;}
.comment_form textarea{resize:none;}
.comment_form button{margin-top: 10px;}
.below_social{padding-top: 5px;}
.small_profile{width: 75px;float: left;}
.small_profile img{width: 100% !important}
.near_pro_pic{padding-left: 15px;float: left;}
.f_left{float: left;}
.single_follower img{max-width: 100%;width: 100%}
.single_follower a {display: block;}
.single_follower {
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 20px;
}
.subscriber {
    background-color: #4285f4; 
    color: #fff; 
    padding: 3px 5px;
    border-radius: 5px 0 0 5px;
}
.subscriber_count {
    float: right;
    background: gainsboro;
    padding: 3px 5px;
    color: #0c0c0c;
    border-radius: 0 5px 5px 0;
}
.subscriber:hover {
	background-color: #3566b7;
}
.after_sp hr{margin: 5px;}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.upload_form {
    height: 300px;
    background-image: url(../images/upload-icon.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100px !important;
}
.login_so {
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}
.login_so img {
    width: 47%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.f_right{float: right;}

.profile .sidebar, .profile .form{background-color: #fff;padding: 15px;} 
.profile .sidebar li{list-style: none}
.profile .sidebar li a{display: block;padding: 10px;color: #999;text-decoration: none;font-size: 18px;}
.profile .sidebar li a.active{color: #337ab7;}
.profile .form h3{color: #999;}
.profile_bg{background-image: url(../images/profile_bg.jpg);height: 215px;background-position: center;background-size: cover;}
.profile_bg1 {
    background-image: url(../images/pbg11.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
}
img{max-width: 100%;}
.profile_videos img{margin-bottom: 10px;}
.profile_videos .l{padding-right: 5px}
.profile_videos .r{padding-left: 5px}
.profile_videos{text-align: center;}
.MoreVideos{position: absolute;right: 25px; top: 0;font-size: 12px;}
.profile_bg1 .profile_img {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 25px;
    left: 52px;
    background-image: url(../images/prbg.png);
    background-size: 99%;
    background-repeat: no-repeat;
    z-index: 99;
}
ul{padding-left: 0;}
.channel_single{margin-bottom: 15px;}
.add_video_button{position: absolute;top: 5px;right: 5px;}
.add_channel_button{position: absolute;top: 5px;right: 15px;}
.add_vdo_btn{margin-top: 13px;margin-right: 10px;}
.add_chann_btn{margin-top: 13px;margin-right: 150px;}
.username {
    color: #fff;
    position: absolute;
    top: 44px;
    font-size: 25px;
    width: 254px;
    right: -246px;
    background-color: rgba(0,0,0,.8);
    padding: 5px;
}
.username img {
    width: 28px !important;
    background: #fff;
}
.profile_bg1 .profile_img img {
    width: 83%;
    border-radius: 50%;
    margin-top: 4%;
    margin-left: 7%;
}
.col-sm-9.r{background-color:#fff;padding-left:0;}
.col-sm-3{padding-right:0}
.nopad .row {
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
}
.lg_cen{width: 100%;margin: 0 auto}
.box_white.no_sh{box-shadow: initial;}
.cat_single{text-align: center;background-size: cover;background-image: url(../images/catbg.png);height: 150px;margin-bottom: 15px;padding-top: 35px;font-size: 18px;color: #fff;}
.cat_single img{width: 40px;margin-bottom: 5px;}
.cat_single a{color: #fff;text-decoration: none;}
.nopad{padding: 0}
.profile_bottom_statics{float: left;padding: 10px;font-size: 15px;text-align: center;}
.profile_bottom_statics label{font-size: 18px;display: block;color: #999;width: 130px;}
.profile_bottom_statics1{margin-left: 200px;float: left;}
.profile_bottom {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 5px 25px;
    background-color: #fff;
    height: 71px; 
}
.profile_main_image img{height: 200px;width: auto;padding: 10px;}
.change_image, .change_image1{display: none;font-size: 12px;}
.change_image a, .change_image1 a{text-decoration: none;color: #fff;}
.profile_name{font-size: 18px;color: #999;text-align: center;}
.profile_left {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    float: initial;
}
.profile_left:hover .change_image{
    width: 110px;
    background: #757575;
    border: 1px solid #bfbfbf;
    padding: 5px; 
    position: absolute;
    bottom: -15px;
    right: 0;
    display: block;
    z-index: 9999;
}
.profile_bg:hover .change_image1{
    width: 110px;
    background: #757575;
    border: 1px solid #bfbfbf;
    padding: 5px; 
    position: absolute;
    top: 177px;
    right: 0;
    display: block;
}










.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
} 

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}
.film_arr{display: none;}
.single_video:hover .film_arr{display: block;}
.main_menu.open{width: 200px;}
.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}
.close_mobile_menu {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 8px;
    left: 7px;
    padding: 5px;
    background-color: #4c5f8c;
    width: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.mm-opening a.close_mobile_menu{display: display: inline-block;}

 .mobile_icon .imgop{display: block;}
.mobile_icon .imgcl{display: none;}
@media screen and (max-width: 768px){
  .main_menu{transition: .5s all;display: none;}
  .logo{border-bottom: 1px dashed rgba(0,0,0,.2);} 
  .mobile_icon{display: block;z-index: 9999}
  .first_widget{margin-top: 20px;}
  .categories.aside ul li{width: 44%;margin-right: 6%;float: left;}
  .aside .single_video{width: 50%;float: left;}
  .container-fluid.fw{max-width: 100%}
  .footer ,.f_right{text-align: center;}
  .f_right{margin-top: 10px;}
  .social labal{display: none; }
  .footer ul li a{padding: 0 2px;}
  .main_menu.open a.login, .main_menu.open a.login:hover{background-color:transparent;border: 0;color: #999 !important}
  .main_menu.open {
      position: fixed;
      z-index: 99999; 
      padding: 0;
      margin: 0;
      background: #f9f9f9;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
  }
  body.open .mobile_icon .imgop{display: none;}
  body.open .mobile_icon .imgcl{display: block;}
  .main_menu.open ul{padding: 0}
  .main_menu.open li  {
      display: block;
      text-align: left;
      border-bottom: 1px solid rgba(0,0,0,.1);
  }
  .main_menu.open a{}
}

.after_header.profile_other .upper{margin-bottom: 15px;}
@media screen and (min-width: 768px){
  .single_video_container{width: 100%}
}
@media screen and (max-width: 600px){
  .categories.aside ul li{width: 100%;margin-right: 0%;float: initial;}
  .blog-comment img.avatar{display: none;}
  .blog-comment .post-comments{margin-left: 0}
  .container-fluid.fw{max-width: 100%}
}
@media screen and (max-width: 1024px){
  .profile_bottom{background-color: #fff;background-image: initial;} 
  .profile_bottom_statics1{display: none;} 
  .profile_bottom_statics{width: 22%;}
  .profile_bottom_statics label{width:100%;text-align: center;}
  .profile_bg1 .profile_img { 
      top: 50px; 
      background-image: url(../images/prbg1.png); 
  }
  .film_arr{height: 100px;}
} 
.footer_last{text-align: right;}
@media screen and (max-width: 1224px){
  .film_arr{height: 120px;}
}
@media screen and (max-width: 600px){
  .single_video1 .f_left, .single_video1 .f_right{float: initial;width: 100%;}
}
@media screen and (max-width: 1366px){
  .film_arr{height: 120px;}
}
@media screen and (max-width: 1566px){
  .film_arr{height: 120px;}
}
@media screen and (max-width: 800px){
  .footer_last{text-align: center;}
  .container-fluid{max-width: 100%;}
  .film_arr{height: 80px;}
}
@media screen and (max-width: 768px){ 
  .profile_bottom{height: initial;}
  .profile_bg1{height: 400px;}
  .profile_bottom_statics{width: 46%;} 
  .profile_bottom_statics label{width:100%;text-align: center;} 
  .input-group{width: 96%;margin-left: 3%;}
}
@media screen and (max-width: 766px){  
  .col-sm-3{padding:0;margin-top: 15px;}
}
@media screen and (max-width: 1366px){   
}

.nosh{box-shadow: initial;}

.single_social{margin: 10px 0;}
.single_social img{width: 25px;}
.near_pro_pic .by {
    float: left;
    margin-left: 10px;
    margin-right: 15px;
}

h1 {
    display: block;
    font-size: 6em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#home_slider .carousel-inner{height: 500px;max-height: 500px;}
#home_slider .carousel-inner img{height: 100%;}